//arrow animation
@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}

.play-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.scroll-arrow {
    // position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    color: white;
    font-size: 2rem;
    padding-top: 50px;
    font-size: 57px;
    height: 100px;
    width: 100px;
    animation: bounce 2s infinite;
}

.home-intro {
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 100%;
    // min-width: 100%;
    // overflow: hidden;
    cursor: pointer;
}

.introvid {
    top: auto;
    // overflow: hidden;
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    background-color: transparent;
    opacity: 1;
    -webkit-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

.video-header-wr {
    display: flex;
    height: auto;
    width: auto;

    video {
        display: flex;
        width: 100%;
        height: 100%;
    }
}

a,
li {
    color: white !important;
}

.vjs-tech {
    width: auto;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

//CENTERED BUTTON
.content-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.play-button {
    border: 2px solid white;
    color: white;
    background-color: transparent;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.play-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.scroll-arrow {
    // position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    color: white;
    font-size: 2rem;
    animation: bounce 2s infinite;
}

//overriding header styles
.nav-link.active {
    color: rgb(255, 255, 255) !important;
}


svg {
    width: 30px;
    height: 21px;
    margin-top: -5px;

    .cls-1 {
        fill: rgb(255, 255, 255) !important;
    }
}

.down-arr{
    fill: white !important;
}

.brand-logo svg {
    width: 245px;
    height: 63px;

    .cls-1 {
        fill: rgb(255, 255, 255) !important;
    }

}

a:hover {
    color: rgb(255, 255, 255) !important;
}


a::after {
    content: "";
    display: block;
    position: relative;
    left: 0px;
    right: 0px;
    bottom: -6px;
    width: 0px;
    height: 0.5px;
    will-change: width;
    background-color: rgb(255, 255, 255);
    transition: width 0.3s;
}


a:hover::after,
a.active::after {
    width: 100%;
}

.landing-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1
}

.hero-row {
    height: 100vh;
    min-height: 637px;
}

.hero-top h1 {
    font-size: 90px;
    font-family: "Jacquard 24", "Raleway", system-ui;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
    font-weight: normal;
    line-height: 1.2;
    // visibility: hidden;
}