<header class="d-none container py-2">
  <nav class="navbar navbar-expand-md">
    <div class="container-fluid">
      <!-- Vianaar Logo -->
      <div class="navbar-brand d-flex align-items-center me-auto brand-logo" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 236.85 61.31">
          <defs>
          </defs>
          <g id="Layer_2" data-name="Layer 2">
            <g id="Layer_1-2" data-name="Layer 1">
              <path class="cls-1"
                d="M33.44,54.61,16.1,0a.08.08,0,0,0,0,0H13.68l.22.71v0l17.71,55.7a7.65,7.65,0,0,0,1.8,3.3,5.82,5.82,0,0,0,3.63,1.56C34.61,59.35,33.44,54.61,33.44,54.61Z">
              </path>
              <path class="cls-1"
                d="M28.79,54.29,11.57,0a.08.08,0,0,0,0,0H9.15l.23.74,17.71,55.7a7.65,7.65,0,0,0,1.8,3.3,5.82,5.82,0,0,0,3.64,1.56C30.08,59.35,28.79,54.29,28.79,54.29Z">
              </path>
              <path class="cls-1"
                d="M47.76,56.16S65,2,65.66,0H63.24c-.83,2.53-17.67,55.46-17.67,55.46a5.4,5.4,0,0,1-1.52,2.82,3.37,3.37,0,0,1-1.94.72H42l.09-.14a10.94,10.94,0,0,0,1.17-2.71S60.46,2,61.1,0H58.68l-.09.28C58,2.08,41,55.46,41,55.46a6.32,6.32,0,0,1-1.3,2.63l-.06.06-.08-.08a4.37,4.37,0,0,1-1-1.7v0l0-.09,0-.07S55.85,2.12,56.54,0H54.12c-.63,1.91-16.75,52.59-16.75,52.59L36.3,49.24v0S51.42,1.71,52,0H49.56c-.62,1.91-14.47,45.42-14.47,45.42L34,42S46.65,2.36,47.3.4l.13-.4H45l-.07.23c-.6,1.82-12.12,38-12.12,38L20.66,0a.08.08,0,0,0,0,0H18.24l.23.73,17.71,55.7a7.76,7.76,0,0,0,1.8,3.3,5.77,5.77,0,0,0,7.49.36A7.4,7.4,0,0,0,47.76,56.16Z">
              </path>
              <path class="cls-1"
                d="M24.36,54.62C24.5,55.14,7,0,7,0L7,0H4.59l.1.31.13.43,17.71,55.7a7.67,7.67,0,0,0,1.81,3.3A5.77,5.77,0,0,0,28,61.3C25.52,59.35,24.36,54.62,24.36,54.62Z">
              </path>
              <path class="cls-1"
                d="M19.77,54.62,2.42,0V0H0L.18.58.23.74,18,56.44a7.55,7.55,0,0,0,1.8,3.3,5.77,5.77,0,0,0,3.62,1.56C20.93,59.35,19.78,54.67,19.77,54.62Z">
              </path>
              <polygon class="cls-1"
                points="103.23 23.39 103.14 23.39 103.14 23.48 103.14 46.13 103.14 46.22 103.23 46.22 108.14 46.22 108.23 46.22 108.23 46.13 108.23 23.48 108.23 23.39 108.14 23.39 103.23 23.39">
              </polygon>
              <path class="cls-1"
                d="M94.36,23.39H94.3l0,.05L87.64,39,81,23.44l0-.05H75.58l.06.13,9.19,21.13a2.41,2.41,0,0,0,2,1.57h1.68a2.41,2.41,0,0,0,2-1.57c0-.06.07-.1.1-.15l9.08-21,.06-.13H94.36Z">
              </path>
              <path class="cls-1"
                d="M126.4,24.81c-.84-1.53-2-1.41-2-1.41H123a2.16,2.16,0,0,0-1.86,1.17l-9.39,21.52-.06.13h5.43l0-.06,2.24-5.25h8.67l2.24,5.25,0,.06h5.39l-.06-.13Zm-5.84,11.66,3.17-6.81,3.06,6.81Z">
              </path>
              <path class="cls-1"
                d="M203.24,24.81c-.84-1.53-2-1.41-2-1.41h-1.43A2.14,2.14,0,0,0,198,24.57l-9.39,21.52-.06.13H194l0-.06,2.24-5.25h8.67l2.24,5.25,0,.06h5.39l-.06-.13ZM197.4,36.47l3.17-6.81,3.06,6.81Z">
              </path>
              <path class="cls-1"
                d="M155.35,23.39h-.09V37.45L144.6,25.07h0a4.66,4.66,0,0,0-3.18-1.68h-2.14V46.22h5v-14l10.83,12.52a4.78,4.78,0,0,0,3.06,1.45h2.09V23.39h-4.92Z">
              </path>
              <path class="cls-1"
                d="M236.75,46.08,230.9,37.7a7.28,7.28,0,0,0,3.22-2.62,6.93,6.93,0,0,0,1.23-4,7.22,7.22,0,0,0-.59-2.8,8,8,0,0,0-1.69-2.48,8.85,8.85,0,0,0-2.55-1.76,7.7,7.7,0,0,0-3.24-.67H216V46.22h5.09V38.81h4.64L231,46.18l0,0h5.81ZM229.34,33.4a2.93,2.93,0,0,1-2.18.93h-6V27.87H227a3.39,3.39,0,0,1,1.22.23,3.3,3.3,0,0,1,1.05.67,3.63,3.63,0,0,1,.73,1,3.09,3.09,0,0,1,.27,1.3A3.24,3.24,0,0,1,229.34,33.4Z">
              </path>
              <path class="cls-1"
                d="M178.4,24.81c-.84-1.53-2-1.41-2-1.41H175a2.14,2.14,0,0,0-1.85,1.17l-9.4,21.52-.06.13h5.44l0-.06,2.24-5.25h8.67l2.25,5.25,0,.06h5.39l-.06-.13Zm-5.84,11.66,3.18-6.81,3.06,6.81Z">
              </path>
            </g>
          </g>
        </svg>
      </div>

      <!-- Mobile Menu Button -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navigation Links -->
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.42 23.91">
                <g>
                  <g data-name="Layer 1">
                    <path class="cls-1"
                      d="M16.33,0,1.55,14.51H0L14.54.23A.81.81,0,0,1,15.11,0Zm2.56.25a.56.56,0,0,0-.76,0L3.58,14.51H5.13L18.51,1.4,31.87,14.51h1.55Zm-1.3,3.84L28.21,14.51h1.56L18.35,3.31Zm8.56,18.73H20.87V15.67H12.5v7.15H7.21V14.6L6.12,15.66v8.25h7.47V16.75h6.19v7.16h7.46V15.6l-1.09-1.06Z">
                    </path>
                  </g>
                </g>
              </svg>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#" aria-current="page">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" aria-current="page">HOMES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">HOSPITALITY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">SUSTAINABILITY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">LIVING</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<nav class="d-none navbar navbar-expand-lg bg-white border-bottom">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="https://via.placeholder.com/40x40?text=V" alt="Logo">
      <span class="ms-2 fw-bold text-success">VIANAAR</span>
    </a>

    <!-- Navbar items -->
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="nav-icon">🏠</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">HOMES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">HOSPITALITY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SUSTAINABILITY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">LIVING</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CONTACT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- <div class="header-bg">
  <div class="header-bg">
</div> -->